<div class="container pt-6">
    <app-header></app-header>

    <div class="row">
      <div class="col-4"><hr size="90"></div>
      <div class="col-4"><h4 class="text-center text-info">{{categories.title}}</h4></div>
      <div class="col-4"><hr size="90"></div>
    </div>
    <div class="row pt-4">
      <div class="col-4 pb-4" *ngFor="let cate of categoriesArr">
        <div class="thumbnail">
          <div [routerLink]="['/i-reading-menu',cate.id]">
              <img src="{{cate.src_img}}" alt="" class="img-fluid z-depth-2 img-thumbnail">
              <div class="caption">
                <h3>
                    <h6 class="text-center text-info pt-3">{{cate.title}}</h6>
                </h3>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
