$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: black;

.header__title{
        display:block;
        width: 100%;
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));
        background-size: cover;
        background-position: top;
        text-align: center;
        top:2.5vh;
        padding-top: 5rem;
        position: relative;
        font-size: 4.5vh;
        z-index: 1;   
}

.header__audio{
    position:absolute;
    width:300px;
    height:300px;
    bottom:60px;
    right:25%;
    left:50%;
    margin-left:-150px;
    position: -webkit-sticky;
    position: fixed;
    // top:10.5vh;
    z-index: 3000;
} 

.body{
    position: absolute;
    margin-top:8vh;
    font-size: 1.2rem;
    padding: 1.5rem;
    z-index: 1;
    margin-bottom: 7rem;
    
}



.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


