

 <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
          <div class=" card wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s">
          <!-- Material form login -->
            <div class="card-body">
              <form>
                <p class="h4 text-center">Sign in</p>
                
                <!-- Material input email -->
                <!-- <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control form-control-sm">
                    <label for="form2">Your email</label>
                </div> -->
                <div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="text" id="form2" class="form-control form-control-sm">
                  <label for="form2">Your email</label>
                </div>
          
                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="materialFormLoginPasswordEx" class="form-control">
                    <label for="materialFormLoginPasswordEx">Your password</label>
                </div>
          
                <div class="text-center mt-4">
                    <button class="btn btn-default" type="submit">Login</button>
                </div>
              </form>

              <div class="text-center mt-4">
                <hr>
              </div>
              <div class="text-right mt-4">
                  <span>Not a member? <a style="color:#0d47a1">SignUp</a></span><br>
                  <span class="mt-4">Forgot <a style="color:#0d47a1">password?</a> </span>
                </div>
            <!-- Material form login -->
            </div>
          </div>
          </div>
        </div>
  </div>



