.pt-4{
    padding-top: 9rem !important;
}
.container{
    text-align: center;
}
.ml-15{
    padding-right: 15px;
}
.pt-50{
    padding-top:20rem;
}
.btn-rounded{
    border-radius: 15px;
}
.text-justify {
    border: 2px;
}
.blue-gradient{
    color: #514A9D;
}
.pat-3{
    padding-top: 10px;;
    
}
.left{
    text-align: left;
}
.btn-size{
    padding: 15px 32px;
    margin-bottom: 10px;
}
.column{
    float: left;
    width: 50%;
}
.pl-5{
    float: left;
    width: 70%;
}

.btn.btn-lg {
    padding: 1rem 2.0rem;
    font-size: 0.94rem;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) { 
    .navbar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
    }
    .input-group .form-control {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1.2rem;
    }
    .btn.btn-lg {
        padding: 1rem 1.0rem;
        font-size: 0.50rem;
    }
    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
    .h1-responsive {
        font-size: 100%;
    }
    .btn {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 0.56rem 1.14rem;
        font-size: 0.65rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        /* margin: 0.375rem; */
        border-radius: 0.5rem;
        cursor: pointer;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        width: 70%;
        margin: auto;
    }
    .pt-4[_ngcontent-c2] {
        padding-top: 9rem !important;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        width: 70%;
        margin: auto;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }