.pt-30, .py-30 {
    padding-top: 7rem !important;
}
.pt-20{
    padding-top: 5rem !important;
}
.in{
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
  }
