<div class="col-md-12 pt-30 col-xl-5 mt-2 text-center">
    <button [routerLink]="['./videos']" type="button" class="btn primary-color-dark btn-lg btn-rounded text-lg">
        <i class="fa fa-film fa-2x pr-2" aria-hidden="true"></i>
        <a >Video</a>
    </button>
    <button [routerLink]="['./practices']" type="button" class="btn primary-color-dark btn-lg btn-rounded text-lg">
        <i class="fa fa-file-text-o fa-2x pr-2" aria-hidden="true"></i>
        <a >Practices</a>
    </button>
    
</div>
<div class="products-area">
        <router-outlet></router-outlet>
</div>
<!-- <div class="container">
  <h2 class="h1-responsive pt-30 text-center font-weight-bold my-5">Video</h2>
  <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item z-depth-1"  src="https://www.youtube.com/embed/XkY4mo0VcIQ" ></iframe>
  </div>
  <h2 class="h1-responsive pt-10 text-center font-weight-bold my-5">Practices</h2>


  <h5 class="font-weight-bold mb-3">Discover the grammar</h5>

    <form class="form-inline">
        <a class="lead grey-text w-responsive mx-auto mb-5">
            Are you living or working in a foreign country?<u>Do you worry</u> about making mistake
            with someone's name? you ______(be) right to be concerned. Naming systems ______(vary)
            a lot from culture  to culture, and people _______(tend) to have very strong feelings 
            about their names. Well, now help ______(be) available in the form of an interesting and practical
            book by Terri Morrison.<i> Kiss, Bow, or Shake Hands: How to do Business in Sixty Countries</i>
            gives information on cross-cultural naming customs and much more. And it ___(be not) just for businesspoeple.
            In today's shrinking world, poeple ________( be travelle) abroad in record numbers. they ______(be fly)
            to all corners of the world, and they _______(be email) poeple they've never met. So, if you _______(be do)
            business abroad or making friend across cultures, I ________(recommend) this book. 
        </a>
        Material input with help text -->
    <!-- </form>
    <a>
    

  </a>

</div>
 -->

