<main>
    <!-- <div class="container" style="height:1300px;">
      <section class="text-center feature-box pt-5"> -->
          <div class="view intro-2 pt-30">
              <div class="full-bg-img">
                  <div class="mask rgba-black-light flex-center">
                      <div class="container">
                          <div class="white-text text-center wow fadeInUp">
                              <h2>English isn't hard</h2>
                              <h5>Start learning something everyday</h5>
                              <br>
                              <p>The order Listening, Speaking, Reading, and Writing is need to be repeated when you learn English </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <section class="text-center pt-5 pb-2">
              <h3 class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">Our Portfolio </h3>
          </section>
          <!--Grid row-->
          <div class="row my-4">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12">
                  <img src="assets/images/bechi1.jpg" class="img-fluid z-depth-2 rounded" alt="First sample image">
              </div>
               <!--Grid column-->
              <div class="col-lg-4 col-md-6">
                  <img src="assets/images/bechi2.jpg" class="img-fluid z-depth-3 rounded" alt="First sample image">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="assets/images/bechi3.jpg" class="img-fluid z-depth-4 rounded" alt="First sample image">
              </div>
          </div>
          <!--Grid row-->
          <div class="row my-4">
              <div class="col-lg-4 col-md-12">
                  <img src="assets/images/bechi4.jpg" class="img-fluid z-depth-2 rounded" alt="First sample image">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="assets/images/bechi5.jpg" class="img-fluid z-depth-3 rounded" alt="First sample image">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="assets/images/bechi6.jpg" class="img-fluid z-depth-4 rounded" alt="First sample image">
              </div>
            
          </div>
          <div class="row my-4">
              <div class="col-lg-4 col-md-12">
                  <img src="assets/images/bechi7.jpg" class="img-fluid z-depth-2 rounded" alt="First sample image">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="assets/images/bechi8.jpg" class="img-fluid z-depth-3 rounded" alt="First sample image">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="assets/images/bechi6.jpg" class="img-fluid z-depth-4 rounded" alt="First sample image">
              </div>
            
          </div>

  </main>
  
